@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Hrot_Hair_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Hrot_Thin.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Hrot_Thin_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Hrot_Light.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Hrot_Light_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Hrot_Regular.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Hrot_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Hrot_Medium.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Hrot_Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Hrot_Semibold.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Hrot_Semibold_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Hrot_Bold.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Hrot_Bold_Italic.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Hrot_Black.woff") format("woff");
}
@font-face {
  font-family: Hrot;
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Hrot_Black_Italic.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kunda_Book_Regular.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Kunda_Book_Italic.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Kunda_Book_Medium.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Kunda_Book_Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Kunda_Book_Semibold.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Kunda_Book_Semibold_Italic.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Kunda_Book_Bold.woff") format("woff");
}
@font-face {
  font-family: KundaBook;
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Kunda_Book_Bold_Italic.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Vegan_Sans_Light.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Vegan_Sans_Light_Italic.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Vegan_Sans_Regular.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Vegan_Sans_Italic.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Vegan_Sans_Medium.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Vegan_Sans_Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Vegan_Sans_Semibold.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Vegan_Sans_Semibold_Italic.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Vegan_Sans_Bold.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Vegan_Sans_Bold_Italic.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Vegan_Sans_Black.woff") format("woff");
}
@font-face {
  font-family: VeganSans;
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Vegan_Sans_Black_Italic.woff") format("woff");
}
@font-face {
  font-family: Kendo;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kendo.woff") format("woff");
}
@font-face {
  font-family: Signer;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Signer.woff") format("woff");
}
@font-face {
  font-family: Tungsten;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Tungsten.woff") format("woff");
}
@font-face {
  font-family: Negramot;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Negramot_Regular.woff") format("woff");
}
@font-face {
  font-family: Dres;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Dres_Eight.woff") format("woff");
}
@font-face {
  font-family: Kakao;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kakao_Script.woff") format("woff");
}
@font-face {
  font-family: MotelSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Motel_Sans_Regular.woff") format("woff");
}
@font-face {
  font-family: MotelSlab;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Motel_Slab_Bold.woff") format("woff");
}
@font-face {
  font-family: PramenSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Pramen_Sans_Semibold.woff") format("woff");
}
@font-face {
  font-family: PramenSlab;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Pramen_Slab_Semibold.woff") format("woff");
}
@font-face {
  font-family: Steiner;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Steiner_Bold.woff") format("woff");
}
